<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>

<%= yield %>

<% unless current_page?(root_path) or current_page?(articles_path) %>
	<%= link_to "<< Back to Articles List", articles_path %>
<% end %>

</body>
</html>
